

.search-container {
    margin-top: 2rem; 
    color: white; 
}

#search {
    margin: 20px 50px;
}

.search-container Button {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    margin: 5px 50px 2rem;
    text-align: center;
    padding: 10px 20px;
    background-color: #1f1f1f;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}


.exercise-card {
    color: white;
    background-color: #1f1f1f;
    box-shadow: 0 0 10px #000000;
    text-align: left;
    width: 90%;
    padding: 5px 20px 25px 20px;
    margin: 10px 50px;
    border-radius: 10px;
    
}

.exercise-info { 
    display: flex; 
}

.exercise-card img {
    height: 50%; 
    border-radius: 10px;
}