@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.exall {
    margin-top: 30px;
    display: flex;
}

.exercises {

    width: 60%;
    height: 60vh;
    font-size: 18px;

}

.myform {
    margin: 30px 0px;
}



#missingexercise {
    
    font-weight: bold;
    color: #cc0000;
    margin: 10px 100px;

}


#exercisecount {
    margin: 15px 100px 100px;
    color: white;
}


#sessionsbutton {
    width: 50%;
}

#missingsessiontext {

    font-weight: bold;
    color: #cc0000;
    margin: 10px 100px;
}