.navbarcontainer {
    /* background-color: beige; */
    height: 10vh;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: white; 
    background-color: #1f1f1f;
    box-shadow: 0 0 10px #000000;
    border-radius: 10px;
  
}

.navbarcontainer a {
    text-decoration: none;
    color: white; 
}

.navbarcontainer h1 {
    margin: 0; 
    text-decoration: none;
}

.navbarlinks {
    display: flex; 
    justify-content: space-evenly;
    width: 80%; 
    text-decoration: none;
}

.navbarlink {
    color: white; 
    font-size: 1.6rem;
    text-decoration: none; 
    cursor: pointer; 
    padding: 1rem; 
    border-radius: 5px; 
}

.navbarlink:hover {
    background-color: #2e81df;
    transition: 0.7s;
}

