
.container h2 {
    margin-left: 100px;
    color: white;
}

.labelinput {
    color: white;
    margin: 0px 100px;
    font-size: 18px;
    width: 430px;
    display: flex;
 
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #2e81df;
    align-items: center;
    border-radius: 10px;

}

.labelinput label {
    padding: 0 10px;

}




.labelinput input {
    width: 250px;
    font-size: 18px;
    padding: 3px;
    border-radius: 0px 10px 10px 0px;

}


.form button {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    margin: 5px 100px;
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

