
.displayEx-container {
    width: 40%;
    border: 1px red; 
    background-color: rgb(116, 199, 181); /*change to #1f1f1f later*/
    border-radius: 10px;
    font-size: 18px; 
    /* TODO: keep bg color but have a visible border + shadow */
}



pre {
    color: white; 
    margin: 25px 65px 0px; 
    text-wrap: balance;
    
}