/* for Sessions AND SessionCard */

.sessionsText {
    margin-top: 1.5rem;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
}

.session-sort {
    margin-top: 3rem; 
    text-align: center;
}

.session-sort button {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    background-color: #1f1f1f;
    color: white;
    /* border-radius: 10px; */
    cursor: pointer;
}


.session-container {
    color: white;
    background-color: #1f1f1f;
    box-shadow: 0 0 10px #000000;
    text-align: left;
    width: 25%;
    padding: 5px 20px 25px 20px;
    margin: 10px;
    border-radius: 10px;
}

.session-container ul {
    list-style-type: none;

}

.session-container ul li {
    margin: 8px;
}

/* styles based on the session day  CAPITAL LETTERS*/

.Push h3 {
    color: rgb(7, 167, 167);
}

.Pull h3 {
    color: rgb(165, 21, 165);
}

.Legs h3 {
    color: rgb(177, 20, 20);
}